<h6>Step 1 : Personal Details</h6>

<div class="container w-75">
    <form>
        <div class="form-group w-50">
          <label for="">First name</label>
          <input type="first-name" class="form-control">
        </div>
        <div class="form-group w-50">
            <label for="">Last name</label>
            <input type="last-name" class="form-control">
          </div>
       
      <div class="pull-right">
        <button type="button" class="btn btn-primary">Next</button>
      </div>
    
      </form>
</div>
