<h6>Step 2 : Contact Details</h6>

<div class="container w-75">
    <form>
        <div class="form-group w-50">
          <label for="">Email</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group w-50">
            <label for="">Mobile</label>
            <input type="mobile" class="form-control">
          </div>
          <div class="form-group w-50">
            <label for="">Country</label>
            <input type="country" class="form-control">
          </div>
      <div class="pull-right">
        <button type="button" class="btn btn-primary">Back</button>
        <button type="button" class="btn btn-primary btn-size">Next</button>
      </div>
    
      </form>
</div>
